.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &__row1-container{
        width: 100%;
        height:4rem;
        display: flex;
        justify-content:space-between;
        box-shadow: 0px 2px 4px 0px #cecece;
        background-color: #fff;
        z-index: 2;
    }

    .back-arrow{
        width: 4rem;
        height:100%;
        @include center();

        img{
            width:16px;
        }

    }

    .row1-rightblock{
        width: 4rem;
        height:100%;
    }

    .company-name{
        font-family: 'Shrikhand', cursive;
        @include center();
        font-size: 30px;
        width: calc(100% - 8rem);
    }

    &__row2-container{
        width: 100%;
        height:3rem;
        display: flex;
        background-color: $greybg-color;
        @include center();
        z-index: 1;
        font-weight: 500;
        font-size: 1rem;
    }
}


@media screen and (min-width: 376px) {
    .hide{
        display:none;
    }

}