header{
    height:64px;
    display: flex;
    width: 100%;

    .back-arrow{
        width: 4rem;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;

    }

    .company-name{
        display:flex;
        font-size: 2rem;
        width: calc(100% - 8rem);
        justify-content: center;
        align-items: center;
    }
}