.browse-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    font-family: 'Roboto', sans-serif;

    h2{
        padding:2rem 4rem 1rem 4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
    }

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 300;
        padding:0 2rem;
        font-size: 20px;
    }

    button{
        padding:1rem 1.5rem;
        color:#fff;
        background: linear-gradient(350deg, $primary-color 0%, $secondary-color 100%);
        border: none;
        border-radius: 4rem;
        margin-top: 2rem;
        font-weight: 500;
        font-size: 1rem;
        box-shadow: 0px 4px 8px 0px #bdadbd;
        cursor: pointer;

        &:hover{
            background: linear-gradient(350deg, $light-primary-color 0%, $light-secondary-color 100%);
            box-shadow: 0px 4px 8px 0px #afa0af, 0px 1px 2px 0px #a196a1;

        }
    }
}

.stepbystep-section{
    display: flex;
    flex-direction: column;
    padding:3rem 1rem 0 1rem;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    h2{
        width: 100%;
        max-width: 800px;
    }

    .steps-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2rem;
        margin-top: 2rem;
        max-width: 800px;
        padding-bottom: 4rem;

        button{
            height:64px;
            border-radius: 16px;
            border: none;
            background-color: #F7F7F7;
            box-shadow: 0px 4px 8px 0px #d3c9d3;
            font-weight: 600;
            font-size: 1rem;
            width:calc(100% - 1rem);
            margin-left: auto;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content:flex-start;
            align-items: center;

            &:hover{
                background-color:#F5EDFF;
                box-shadow: 0px 4px 8px 0px #c4b7c4, 0px 1px 2px 0px #b4a7b4;
            }

            &:hover svg{
                fill:$primary-color;
            }

            .step-circle{
                width: 2rem;
                height:2rem;
                border-radius: 1rem;
                background-color: $primary-color;
                position: absolute;
                top:1.25rem;
                left:-1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;

                span{
                    margin-top: 1px;
                }
            }

            svg{
                /*width:2rem;*/
                margin-left: 2.5rem;
                margin-right: 1.5rem;
                fill:$greyicons-color;
            }
        }
    }
}

.restos-section{
    display: flex;
    flex-direction: column;
    padding:3rem 1rem 4rem 1rem;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    row-gap: 1.5rem;

    .restos-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
        width: 100%;
    }

    h2{
        width: 100%;
        margin-bottom:0.5rem;
    }

    .resto-card{
        width: 100%;
        height:16rem;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0px 4px 8px 0px #d3c9d3;
        position: relative;

        &__nouveau{
            position: absolute;
            top:0.75rem;
            right:0.75rem;
            height:2rem;
            padding:0 1rem;
            background-color: $nouveaubg-color;
            color: $nouveautxt-color;
            border-radius: 3px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
        }

        .resto-img{
            width: 100%;
            height:11rem;
            object-fit: cover;
            object-position:bottom
        }

        &__datasnlike-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            height:5rem;
        }

        &__datas-container{
            padding: 1rem 0.75rem;
            display: flex;
            flex-direction: column;
            width: calc(100% - 4rem);
            height:100%;

            h3{
                font-size: 18px;
            }

            p{
                line-height: 32px;
            }
        }

        &__likecontainer{
            height: 100%;
            width:4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }
}

@media screen and (min-width: 800px) {
    .stepbystep-section{
        
        h2{
            text-align: center;
        }

        .steps-container{
            max-width: 85%;
            column-gap: 2rem;
            flex-direction: column;
            padding-left: 1rem;

            button{
                max-width: 340px;
                margin:0 auto;
            }
        }
    }

    .restos-section{
        .restos-container{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1.5rem;

            .resto-card{
                flex:1 1 400px;

                .resto-img{
                    object-position: center;
                }
            }

        }
    }
}

@media screen and (min-width: 1130px) {
    .stepbystep-section{

        .steps-container{
            flex-direction: row;
            justify-content: space-between;
            max-width: none;

            button{
                max-width: none;
                flex: 1 1 320px;
            }
        }
    }

    .restos-section{
        .restos-container{

            .resto-card{
                flex:1 1 500px;
                width: 50%;
            }

        }
    }
}

@media screen and (min-width: 1432px) {
    .restos-section{
        padding:3rem 1rem 4rem 1rem;
    }
}