$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$greybg-color:#EAEAEA;
$greyicons-color:#7E7E7E;
$footer-bgcolor:#353535;
$main-bgcolor:#F7F7F7;

$light-primary-color:#a173da;
$light-secondary-color:#ff8fdf;

$nouveaubg-color: #99E2D0;
$nouveautxt-color: #008766;