*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.header__row1-container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 0px #cecece;
  background-color: #fff;
  z-index: 2;
}
.header .back-arrow {
  width: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .back-arrow img {
  width: 16px;
}
.header .row1-rightblock {
  width: 4rem;
  height: 100%;
}
.header .company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: calc(100% - 8rem);
}
.header__row2-container {
  width: 100%;
  height: 3rem;
  display: flex;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (min-width: 376px) {
  .hide {
    display: none;
  }
}
.browse-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  font-family: "Roboto", sans-serif;
}
.browse-section h2 {
  padding: 2rem 4rem 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.browse-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
  padding: 0 2rem;
  font-size: 20px;
}
.browse-section button {
  padding: 1rem 1.5rem;
  color: #fff;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  border-radius: 4rem;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 4px 8px 0px #bdadbd;
  cursor: pointer;
}
.browse-section button:hover {
  background: linear-gradient(350deg, #a173da 0%, #ff8fdf 100%);
  box-shadow: 0px 4px 8px 0px #afa0af, 0px 1px 2px 0px #a196a1;
}

.stepbystep-section {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0 1rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  align-items: center;
}
.stepbystep-section h2 {
  width: 100%;
  max-width: 800px;
}
.stepbystep-section .steps-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-top: 2rem;
  max-width: 800px;
  padding-bottom: 4rem;
}
.stepbystep-section .steps-container button {
  height: 64px;
  border-radius: 16px;
  border: none;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 8px 0px #d3c9d3;
  font-weight: 600;
  font-size: 1rem;
  width: calc(100% - 1rem);
  margin-left: auto;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stepbystep-section .steps-container button:hover {
  background-color: #F5EDFF;
  box-shadow: 0px 4px 8px 0px #c4b7c4, 0px 1px 2px 0px #b4a7b4;
}
.stepbystep-section .steps-container button:hover svg {
  fill: #9356DC;
}
.stepbystep-section .steps-container button .step-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #9356DC;
  position: absolute;
  top: 1.25rem;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.stepbystep-section .steps-container button .step-circle span {
  margin-top: 1px;
}
.stepbystep-section .steps-container button svg {
  /*width:2rem;*/
  margin-left: 2.5rem;
  margin-right: 1.5rem;
  fill: #7E7E7E;
}

.restos-section {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 4rem 1rem;
  font-family: "Roboto", sans-serif;
  align-items: center;
  row-gap: 1.5rem;
}
.restos-section .restos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  width: 100%;
}
.restos-section h2 {
  width: 100%;
  margin-bottom: 0.5rem;
}
.restos-section .resto-card {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px #d3c9d3;
  position: relative;
}
.restos-section .resto-card__nouveau {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  height: 2rem;
  padding: 0 1rem;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.restos-section .resto-card .resto-img {
  width: 100%;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.restos-section .resto-card__datasnlike-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
}
.restos-section .resto-card__datas-container {
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  height: 100%;
}
.restos-section .resto-card__datas-container h3 {
  font-size: 18px;
}
.restos-section .resto-card__datas-container p {
  line-height: 32px;
}
.restos-section .resto-card__likecontainer {
  height: 100%;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .stepbystep-section h2 {
    text-align: center;
  }
  .stepbystep-section .steps-container {
    max-width: 85%;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    flex-direction: column;
    padding-left: 1rem;
  }
  .stepbystep-section .steps-container button {
    max-width: 340px;
    margin: 0 auto;
  }
  .restos-section .restos-container {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .restos-section .restos-container .resto-card {
    flex: 1 1 400px;
  }
  .restos-section .restos-container .resto-card .resto-img {
    -o-object-position: center;
       object-position: center;
  }
}
@media screen and (min-width: 1130px) {
  .stepbystep-section .steps-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }
  .stepbystep-section .steps-container button {
    max-width: none;
    flex: 1 1 320px;
  }
  .restos-section .restos-container .resto-card {
    flex: 1 1 500px;
    width: 50%;
    height: 20rem;
  }
  .restos-section .restos-container .resto-card .resto-img {
    height: 15rem;
  }
}
@media screen and (min-width: 1432px) {
  .restos-section {
    padding: 3rem 1rem 4rem 1rem;
  }
}
footer {
  background-color: #353535;
  padding: 2rem 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
footer .footer-container {
  flex-grow: 1;
  max-width: 1400px;
}
footer h4 {
  margin-bottom: 1.5rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

@media screen and (min-width: 1400px) {
  footer {
    padding: 2rem 0;
  }
}
body {
  padding: 0;
  background-color: #F7F7F7;
  margin: 0 auto;
  color: #000;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
}

@media screen and (min-width: 700px) {
  main {
    /*padding: 0 30px;*/
    max-width: 1432px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */