@import 'variables', 'mixins', 'resets', 'header', 'home', 'footer';

body {
    padding: 0;
    background-color: #F7F7F7;
    margin: 0 auto;
    color: #000;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 24px;
}

@media screen and (min-width: 700px) {
    main {
        /*padding: 0 30px;*/
        max-width: 1432px;
        margin: 0 auto;
    }
}